*{
    margin: 0;
    padding: 0;
    border-spacing: 0;
    box-sizing: border-box;
}

body{
    width: 1000px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: auto;
    font-size: 13px;
    padding: 1px;
}

#menu{
    background-color: #141414;
    position: relative;
    width: 100%;
    display: flex;
    height: 25px;
}


#main{
    display: flex;
    min-height: 400px;
    height: auto;
    
}

#main #left{
    width: 75%;
    padding: 5px;
    display: block;
    border: 1px solid #ccc;
}

#main #left .art{
    padding: 5px;
    display: flex;
    border-bottom: 2px solid #ccc;
    padding-top: 10px;
    padding-bottom: 10px;
}


#main #left .art img{
    width: 30%;
    height: 150px;
    margin-right: 10px;
}

#main #left .art .details .child{
    margin-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}

#main #left .art .details .child--lv{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    color: #ccc;
}

#main #left .art .details .child--h2{
    margin-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}
#main #left .art .details .child--h2 a{
    text-decoration: none;
    color: #000;
}
#main #left .art .details .child--h2 a:hover{
    text-decoration: underline;
    color: #1949b5;
}



#menu .ctnMenu{
    width: 14.2%;
    text-align: center;
    line-height: 25px;
    border-right: 1px solid #fff;
}
#menu .ctnMenu:last-child{
    width: 14.8%;
}
#menu .ctnMenu a{
    text-decoration: none;
    color: #fff;
    display: block;
    font-weight: bold;
}
#menu .ctnMenu a.active{
    background-color: #1949b5;
}
#banner img{
    width: 100%;
    height: auto;
}

/*
Phần icon menu tự tạo
*/
.container{
    display: inline-block;
    cursor: pointer;
    margin: auto;
    padding-top: 10px;
}
.bar1{
    width: 25px;
    height: 2px;
    background-color: #fff;
    transition: 0.4s;
}
.bar2{
    width: 25px;
    height: 2px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
}
.bar3{
    width: 25px;
    height: 2px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
}

#main #right{
    width: 25%;
    padding: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    position: relative;
}

#main #right .menu_right{
    background-color: #194d58;
    padding: 5px;
    display: flex;
    align-items: center;
}
#main #right .menu_right h3{
    margin-left: 10px;
    color: #fff;
    font-size: larger;
}
#main #right .item{
    padding: 7px;
    margin-left: 18px;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #ccc;
}

#main #right .item p{
    margin-left: 8px;
}

#main #right .image_right{
    position: absolute;
    bottom: 5px;
    width: 240px;
    height: 450px;
}

/* Phần Footer */

footer{
    background-color: #000;
    height: 60px;
    text-align: center;
    line-height: 60px;
    color: #fff;
}

#footer .container{
    background-color: transparent;
    display: flex;
    justify-content: space-around;
    color: #ecf0f1;
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    width: 280px;
    line-height: 55px;
    height: 60px;
    overflow: hidden;
}
ul{
    height: 60px;
}
li{
    height: 60px;
    list-style: none;
    animation-name: changeitem;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
@keyframes changeitem {
    0%  {transform:translate3d(0,0,0);}
    12.5%{transform:translate3d(0,-100%,0);}
    25% {transform:translate3d(0,-200%,0);}
    37.5% {transform:translate3d(0,-300%,0);}
    50% {transform:translate3d(0,-400%,0);}
    62.5% {transform:translate3d(0,-300%,0);}
    75% {transform:translate3d(0,-200%,0);}
    87.5% {transform:translate3d(0,-100%,0);}
}
.bracket{
    color: #16a085;
    animation-name: hidee;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    
}
@keyframes hidee{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}